/***********************
*****    General   ******
************************/





/***********************
*****    Navbar   ******
************************/

.site-logo {
    height: 25px;
    width: 110px;
    margin-top: 10px;
}

.navbar {
    position: relative;
    z-index: 1000;
    min-height: 73px;
    margin-bottom: 0;
    border: 0;
    border-radius: 0 !important;
}

.nav-container {
    margin-top: 20px;
}

.navbar-brand {
    color: #FFFFFF;
}

.navbar-brand:hover {
    color: #E99D1A;
}

.nav-link {
    color: white;
}

a.nav-link:hover {
    color: #E99D1A;
}

.btn-login {
    padding-top: 7px;
    padding-bottom: 7px;
    color: white;
    margin-left: 20px;
    background-color: transparent;
    border: white solid 1px;
}

.btn-login:hover {
    color: #30426A;
    background-color: white;
    transition: all .5s;
    border: white solid 1px;
}

.horizontal-gradient {
    background: #30426A;
}

/***********************
***    Home   ***
************************/

.home-header {
    padding-bottom: 150px;
    color: white;
    text-align: center;
}

.home-header h1 {
    padding-top: 20px;
    text-shadow: #E99D1A 4px 4px 0px;
}

.home-header-row {
    margin-top: 100px;
}

.home-button-row {
    margin-top: 50px;
    margin-bottom: 20px;
}

.btn-home {
    width: 220px;
}

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
    border: white solid 1px;
}

.btn-outline:hover {
    color: #30426A;
    background-color: white;
    transition: all .5s;
    border: white solid 1px;
}

.home-container {
    max-width: 1000px;
}

/***********************
***    sub Header   ***
************************/

.sub-header {
    color: white;
    padding-bottom: 20px;
}

.sub-header p {
    color: #dfdfdf;
    padding-bottom: 20px;
}

.sub-sub-header {
    background: #d9eaff;
}

.sub-sub-header p {
    font-size: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0px;
}

/***********************
***    Description   ***
************************/

.desc-row {
    text-align: center;
    background: white;
}

.desc-row h5 {
    font-size: 25px;
}

/***********************
***    Featurette   ****
************************/

.featurette-row {
    margin-top: 50px;
    margin-bottom: 50px;
}

.featurette-row p {
    font-size: 15px;
}

.featurette-content {
    vertical-align: middle;
}

/***********************
***    Login   ***
************************/

.login-page {

}

.login-header {
    padding-bottom: 50px;
}

.login-container {
    color: white;
    padding: 200px 0px 300px 0px;
}