<nav class="navbar navbar-static-top horizontal-gradient" role="navigation">

	<div class="container nav-container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Exports</a>
		</div>

		<div class="nav-main navbar-collapse collapse">
			<ul class="nav navbar-nav pull-right ">
				<li><a class="nav-link" href="">Features</a></li>

				<li>
					<button class="navbar-btn btn btn-login" ui-sref="login">Log In</button>
				</li>
			</ul>
		</div>

	</div>
</nav>
